@section MoreScripts {
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#DtnTbl').DataTable({
                ordering: true,
                paging: true,
                searching: true,
                info: true,
                lengthChange: true,
                pageLength: 10
            });
        });
    </script>
}


@model Detections
<h2>Performances </h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MsgType"]">
        @TempData["Message"]
    </div>
}

<div>

    <table id="DtnTbl" class="table">
        <thead>
            <tr>
                <th>Detection Id</th>
                <th>Device Id</th>
                <th>Sensor Id</th>
                <th>Classification</th>
                <th>Time Stamp</th>
            </tr>
        </thead>

       @* <tbody>
            @foreach (DataRow row in Model)
            {
            <tr>
                <td>@row["DetectionId"]</td>
                <td>@row["DeviceId"]</td>
                <td>@row["SensorId"] hrs</td>
                <td>@row["Classification"]</td>
                <td>@String.Format("{0:HH:mm:SS}", row["TimeStamp"])</td>
            </tr>
            }
        </tbody>*@

        <tfoot>
            <tr>
                <th>Detection Id</th>
                <th>Device Id</th>
                <th>Sensor Id</th>
                <th>Classification</th>
                <th>Time Stamp</th>
            </tr>
        </tfoot>


    </table>
</div>

