@model List<DataRecord>

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MsgType"]">
        @TempData["Message"]
    </div>
}

<table class="table table-condensed table-hover">
    <tr>
        <th scope="col">Field0</th>
        <th scope="col">Title</th>
        <th scope="col">City</th>
        <th scope="col">Period</th>
        <th scope="col">Days</th>
        <th scope="col">Spending</th>
        <th scope="col">Action</th>
    </tr>
    @foreach (DataRecord row in Model)
    {
<tr>
    <td>@row.Field0</td>
    <td>@row.Field1</td>
    <td>@row.Field2</td>
    <td>@row.Field3</td>
    <td>@row.Field4</td>
    <td>@row.Field5</td>
    <td>@String.Format("{0:dd/MMM/yyyy hh:mm:ss}", row.Field6)</td>
    <td>
        <a asp-controller="Demo"
           asp-action="Details"
           asp-route-id="@row.Field0">
            Details
        </a>
    </td>
</tr>
    }
</table>


